# OS X specific files
DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# installed dependencies
node_modules
.npm

# Optional REPL history
.node_repl_history

# IDE
*.iml
.idea
